/* .ball{
    position: absolute;
    width:100px;
    height:100px;
    background-color: red;
    border-radius: 50%;
} */
body{
    background-color: green;
}
.container{
    height: 97.3vh;
    width: 98.5vw;
    background-color: black;
   
   
}
.button1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blue;
    opacity: 0.4;
  }
#up-arrow,#down-arrow{
    width: 100px;
    height: 100px;
  }
  #total-count{
    font-weight: 900;
    font-size: 70px;
  }